<template>
  <v-dialog
    :value="_dialog"
    @click:outside="onClose"
    width="600"
  >
    <v-card>
      <v-card-title class="text-h5 indigo white--text lighten-1">
        Details
      </v-card-title>

      <v-container>
        <v-row>
          <v-col cols="6" sm="4">
            <v-card-subtitle class="font-weight-medium">Name</v-card-subtitle>
            <v-card-text>{{ _showedItem.name }}</v-card-text>
          </v-col>
          <v-col cols="6" sm="4">
            <v-card-subtitle class="font-weight-medium">Version</v-card-subtitle>
            <v-card-text>{{ _showedItem.version }}</v-card-text>
          </v-col>
          <v-col cols="12" sm="4">
            <v-card-subtitle class="font-weight-medium">Author</v-card-subtitle>
            <v-card-text>{{ _showedItem.author?.name || '-' }}</v-card-text>
          </v-col>
          <v-col cols="12">
            <v-card-subtitle class="font-weight-medium">Description</v-card-subtitle>
            <v-card-text>{{ _showedItem.description }}</v-card-text>
          </v-col>
          <v-col cols="12">
            <v-card-subtitle class="font-weight-medium">Links</v-card-subtitle>
            <v-card-text>
              <div v-for="(link, key) in _showedItem.links" class="d-flex">
                <span class="text-no-wrap mr-1">{{ key }} - </span>
                <a
                  :href="link"
                  target="_blank"
                  referrerpolicy="no-referrer"
                  class="text-truncate"
                >
                  {{ link }}
                </a>
              </div>
            </v-card-text>
          </v-col>
          <v-col cols="12">
            <v-card-subtitle class="font-weight-medium">Maintainers</v-card-subtitle>
            <v-card-text>
              <div v-for="maintainer in _showedItem.maintainers" class="d-flex">
                <span class="text-no-wrap mr-1">
                  {{ maintainer.username }} -
                </span>
                <a
                  :href="`mailto:${maintainer.email}`"
                  class="text-truncate"
                >
                  {{ maintainer.email }}
                </a>
              </div>
            </v-card-text>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'Dialog',
  computed: {
    _dialog() {
      return this.$store.getters['packagesModule/dialog'];
    },
    _showedItem() {
      return this.$store.getters['packagesModule/showedItem'];
    },
  },
  methods: {
    onClose() {
      this.$store.commit('packagesModule/SET_SHOWED_ITEM', {});
      this.$store.commit('packagesModule/SET_DIALOG', false);
    }
  }
};
</script>

<style scoped>

</style>