<template>
  <div class="d-flex">
    <v-text-field
      label="Search"
      outlined
      dense
      v-model="value"
      @keydown.enter="onSubmit"
    ></v-text-field>

    <v-btn
      depressed
      color="primary"
      height="40"
      class="ml-3"
      @click="onSubmit"
    >
      Submit
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'Search',
  data: () => ({
    value: '',
  }),
  methods: {
    onSubmit() {
      this.$store.commit('packagesModule/SET_PAGINATION', 1);
      this.$store.commit('packagesModule/SET_PARAMS', {
        text: this.value
      });
      this.$store.dispatch('packagesModule/getList');
    }
  }
};
</script>

<style scoped>

</style>