<template>
  <div>
    <Dialog />

    <v-data-table
      :headers="headers"
      :items="_list"
      :items-per-page="_pagination.size"
      class="elevation-1"
      hide-default-footer
      :loading="_loadingStatus === httpStatus.PENDING"
    >
      <template v-slot:item.author="{item}">
        {{ item.author?.name || '-' }}
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
          class="mr-2"
          @click="showItem(item)"
        >
          mdi-eye
        </v-icon>
      </template>
    </v-data-table>

    <div v-if="_list.length" class="mt-5">
      <v-pagination
        :value="_pagination.page"
        @input="onChangePage"
        :length="_pagination.total"
        :total-visible="10"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import Dialog from '@/components/PackagesView/Dialog.vue';
import { httpStatus } from '@/utils/const';

export default {
  name: 'Table',
  components: { Dialog },
  data: () => (
    {
      headers: [
        { text: 'Name', value: 'name', sortable: false },
        { text: 'Version', value: 'version', sortable: false },
        { text: 'Author', value: 'author', sortable: false },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  ),
  computed: {
    httpStatus() {
      return httpStatus;
    },
    _list() {
      return this.$store.getters['packagesModule/list'];
    },
    _pagination() {
      return this.$store.getters['packagesModule/pagination'];
    },
    _loadingStatus() {
      return this.$store.getters['packagesModule/status'];
    },
  },
  methods: {
    onChangePage(page) {
      this.$store.commit('packagesModule/SET_PAGINATION', page);
      this.$store.dispatch('packagesModule/getList');
    },
    showItem(item) {
      this.$store.commit('packagesModule/SET_SHOWED_ITEM', item);
      this.$store.commit('packagesModule/SET_DIALOG', true);
    },
  },
};
</script>

<style lang="scss" scoped>
.tr-row {
  cursor: pointer;
}
</style>