<template>
  <v-footer
    dark
    padless
  >
    <v-card
      flat
      tile
      color="primary"
      class="text-center"
      width="100%"
    >
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon.type"
          class="mx-4 white--text"
          icon
        >
          <a :href="icon.link" target="_blank" referrerpolicy="no-referrer" class="link">
            <v-icon size="24px">
              {{ icon.type }}
            </v-icon>
          </a>
        </v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Eugene Smolin</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: 'AppFooter',
  data: () => (
    {
      icons: [
        { link: 'https://gitlab.com/Eugen_Smolin/vue-nethernite', type: 'mdi-gitlab' },
        { link: 'https://www.linkedin.com/in/eugene-smolin-525a6b151', type: 'mdi-linkedin' },
      ],
    }
  ),
};
</script>

<style lang="scss" scoped>
.link {
  color: white;
}
</style>