<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <Search />
        <Table />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Search from '@/components/PackagesView/Search.vue';
import Table from '@/components/PackagesView/Table.vue';

export default {
  name: 'Home',
  components: {
    Search, Table
  },
  mounted() {
    this.getList();
  },
  methods: {
    getList() {
      this.$store.dispatch('packagesModule/getList');
    },
  },
};
</script>
