<template>
  <v-app>
    <MainLayout />

    <AppFooter />
  </v-app>
</template>

<script>

import MainLayout from '@/layouts/MainLayout.vue';
import AppFooter from '@/components/App/AppFooter.vue';

export default {
  name: 'App',
  components: { AppFooter, MainLayout },
};
</script>
